

@media (max-width: 1680px){

	.fcs-wrapper.outers_fcs_wrapper{
		  .carousel{

		    .carousel-caption{
		      .sliderrrr{

		      }
		      .bxsl_tx_fcs{
		        .content{
		          h2{
		            font-size: 21px;
		          }
		          p{
		            font-size: 13px;
		          }
		        }
		        
		      }

		    }
		  }
		  clear: both;
	}

    section.blocks_home-2 {
        .lefts_filter {
            h3 {
            font-size: 23px;
            }
            ul {
                li {
                    a {
                    font-size: 14px;
                    }
                }
            }
        }

    }

    .carousel-caption.caption-slider-home .bxsl_tx_fcs h3{
        font-size: 26px;
    }
    .carousel-caption.caption-slider-home{
        bottom: 4%;
    }

    // ------------ new code ------------

}

@media (max-width: 1450px){

    // ------------ new code ------------

    .fcs-wrapper.outers_fcs_wrapper .carousel .carousel-inner .carousel-item{
        background-position: top center;
    }

}

@media (max-width: 1400px){

	header.head {
	    position: fixed;
	    padding-top: 1rem;
	    padding-bottom: 1rem;
	    .navbar-brand{
	        max-width: 250px;
	        padding: 0;
	    }
	    .blocks_vw_menu.pt-3{
	        padding-top: 0.7rem !important;
	        max-width: 32px;
	        display: inline-block;
	        text-align: right;
	        margin: 0;
	        vertical-align: middle;
	    }
	}

	.menu-sheader-datals ul li{
	    padding: 0.3em 0;
	    a{
	        font-size: 16px;
	    }
	}

	section.blocks_home-2 {
	    .lefts_filter {
	        h3 {
	        font-size: 20px;
	            br{
	                display: none;
	            }
	        }
	        ul {
	            li {
	                a {
	                font-size: 14px;
	                }
	            }
	        }
	    }

	}
	.pl-85 {
	    padding-left: 45px;
	}
	.container_def {
	    padding: 0 45px;
	}
	section.home-sec-4 .pictures .pos_t h6{
	    font-size: 23px;
	}
	.carousel-caption.caption-slider-home .bxsl_tx_fcs h3{
	    font-size: 28px;
	}
	.carousel-caption.caption-slider-home .bxsl_tx_fcs h5{
	    font-size: 17px;
	}
	section.block-home-1{
	    min-height: auto;
	    padding: 1.4rem 0;
	}
	footer.footer-1 h5{
	    font-size: 25px;
	}
	footer.footer-1 .s-content p{
	    font-size: 14px;
	}

	.carousel-caption.caption-slider-home .bxsl_tx_fcs h3 {
	    font-size: 23px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-item{
	    background-position: center;
	}
	section.blocks_home-2 .blocks_machine .desc_info h5{
	    font-size: 25px;
	}
	section.blocks_home-2 .blocks_machine .desc_info p{
	    font-size: 15px;
	}
	.tops_filter form label{
	    font-size: 15px;
	}
	.tops_filter form select{
	    width: 165px;
	    font-size: 16px;
	    padding-top: 0.2rem;
	    padding-bottom: 0.2rem;
	}
	.tops_filter p{
	    font-size: 17px;
	}
	.tops_filter a.backs_to{
	    font-size: 15px;
	}

}

  @media (max-width: 1290px){

    section.home-sec-4 .pictures .pos_t h6{
        font-size: 20px;
    }
    footer.footer-1 h5 {
        font-size: 22px;
    }

	// new web
    .fcs-wrapper.outers_fcs_wrapper .carousel .carousel-indicators{
    	left: 1rem;
    }
    section.home-sec-1 .isi p {
	    margin-bottom: 3rem;
	    font-size: 0.9rem;
	}
	section.home-sec-2{
		padding: 6rem 115px !important;
	}
	.more a{
		font-size: 17px;
	}

    // ------------ new code ------------

    .fcs-wrapper.outers_fcs_wrapper .carousel .carousel-inner .carousel-item{
        background-position: top center;
    }


  }

  @media (max-width: 980px){

    // ------------ new code ------------

  }

  @media (max-width: 767px){

  	.container.w904{
		padding: 0 15px;
	}

    header.head{
        // position: relative; 
        padding: 0.9rem 0;
        .container_def{
            padding: 0 15px;
        }
        .blocks_vw_menu{
            padding-top: 0 !important;
        }
    }
    .container_def{
        padding: 0 15px;
    }
    .carousel-caption.caption-slider-home {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 3rem 0px;
    }
    .carousel-caption.caption-slider-home .bxsl_tx_fcs h3 {
        font-size: 20px;
    }
    .carousel-caption.caption-slider-home .bxsl_tx_fcs h5 {
        font-size: 14px;
    }
    .outer-blok-black-menuresponss-hides .blocksn_logo-centers img{
        left: 0;
    }
    .outer-blok-black-menuresponss-hides .blocksn_logo-centers{
        display: block;
        margin: 0 auto;
        max-width: 150px;
    }
    .menu-sheader-datals ul li a{
        font-size: 15px;
    }
    .menu-sheader-datals ul li {
        padding: 0.35em 0px;
    }
    .hidesmenu-frightd {
        position: absolute;
        right: 15px;
        display: block;
        max-width: 30px;
        top: -50px;
    }
    .hidesmenu-frightd img{
        max-width: 100%;
    }


    .lists_sect2_home .items .descriptions .texts {
        padding: 2rem;
    }

    section.bottoms_home_block_pop .picts_onright,
    section.bottoms_home_block_pop .picts_onleft{
        display: none;
    }
    footer.foot .blocks_socmed_ft {
        text-align: center !important;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    section.bottoms_home_block_pop .inners h4{
        font-size: 22px;
    }
    section.bottoms_home_block_pop .inners p{
        font-size: 17px;
    }
    footer.foot .inners_text p{
        font-size: 12px;
    }
    footer.foot .inners_text .t-copyrights p{
        font-size: 11px;
    }
    header.head .lgo_header{
        max-width: 140px;
    }
    header.head .taglines_hd{
        display: none;
    }

    header.head.insides-head{
        min-height: 145px;
    }
    .outer_wrapper_inside section.about-snt-1 .tops_page_title{
        margin-top: -40px;
    }

    .content-texts h5{
        font-size: 21px;
    }
    .content-texts p{
        font-size: 14px;
    }

    section.about-snt-2 .lists_sub_icon_natural, section.about-snt-2 .lists_sub_icon_natural .items{
        margin-bottom: 2rem;
    }

    section.about-snt-2 .box_mx_middles.about_ns2{
        width: 100%;
    }

    section.about-snt-2 .box_mx_middles.about_ns2 .ins_text{
        width: 100%;
        top: inherit;
        bottom: 0px;
        padding-top: inherit;
    }

    .outer_wrapper_inside section.about-snt-1 .tops_page_title h1{
        font-size: 23px;
    }

    .box_inlins_form_location form select,
    .box_inlins_form_location form label{
        margin-right: 0 !important;
        margin-bottom: 0.6rem;
    }
    .tops_menu_linehd{
        a{
            img{
                max-width: 32px;
            }
        }
    }

    .blocks_traces_desc .nlist_origin .col-md-15.data2{
        border-right: 0px;
    }
    .blocks_traces_desc .nlist_origin .col-md-15{
        margin-bottom: 1.5rem;
    }
    .blocks_traces_desc .nlist_origin .s_texts p{
        font-size: 13px;
    }
    .blocks_traces_desc .nlist_origin .s_texts p b, .blocks_traces_desc .nlist_origin .s_texts p strong{
        font-size: 20px;
    }
    .blocks_traces_desc .tx_instagram_big a{
        font-size: 22px;
    }
    .address_contact_dn .n_texts p{
        font-size: 13px;
    }

    .menu-sheader-datals ul li {
        padding: 0.15em 0;
    }
    .menu-sheader-datals ul li a{
        font-size: 14px;
    }
    .outer-blok-black-menuresponss-hides .blocks-info-menubtm p{
        font-size: 14px;
    }
    .outer-blok-black-menuresponss-hides .blocks-info-menubtm p a{
        font-size: 13px;
    }

    section.about-snt-2{
        background:#fff url(../images/backs_grey-black-about22.jpg) repeat-x bottom center;
    }


  }