@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
// @import 'pandu.less';

@fira : 'Fira Sans', sans-serif;
@blue : #000080;

html,
body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  font-family: @fira;
  // color: @blue;
}

.container.cont-fcs {
  max-width: 100%;
  padding: 0;
}
.container{
  max-width: 1325px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @fira;
  margin-bottom: 0;
}

div, a, span, p,
h1, h2, h3, h4, h5, h6{
  font-family: @fira;
}


header.insides-head{
  position: relative !important;
}

body{
  overflow-x: hidden;
}

.fcs-wrapper.outers_fcs_wrapper{
  .carousel{
    .carousel-inner{
      .carousel-item{
        background-size: cover;
      }
    }

    .carousel-caption{
      .sliderrrr{

      }
      .bxsl_tx_fcs{
        .content{
          h2{
            font-size: 24px;
            font-weight: 500; color: #fff;
            display: block; line-height: 1;
            margin-bottom: 0;
            margin-bottom: 0.6rem;
          }
          p{
            font-size: 14px; line-height: 1.35;
            font-weight: 400; color: #fff;
          }
          padding: 1.8rem 2rem;
          position: relative;
          z-index: 10;
        }
        background-color: #0c1555;
        position: relative;
      }

      .bxsl_tx_fcs::after{
        display: inline-block;
        content: "";
        position: absolute;
        z-index: 5;
        top: 0px;
        left: 100px;
        width: 900px;
        height: 100%;
        background-color: #0c1555;
      }
      right: 0;
      left: 0;
      padding-bottom: 0;
      bottom: -70px;
    }

    .carousel-indicators{
      li{
        width: 9px;
        height: 9px;
        background-color: #b2b2b2;
        cursor: pointer;
        margin: 0 4px;
      }
      li:focus,
      li:hover,
      li.active{
        width: 9px;
        height: 9px; 
        background-color: #223b79;
        margin: 0 4px;
      }
      
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      text-align: left;
      margin: 0px;
      right: inherit;
    }

    clear: both;
  }
  clear: both;
}
.cols_buttons_nav {
    position: absolute;
    bottom: -40px;
    width: 100%;
    left: 0px;
    z-index: 2;
    .container{
      display: block;
      margin: 0 auto;
      position: relative;
    }
}

header.head{
  height: 98px;
  background-color: transparent;
  width: 100%;
  clear: both;
  padding-top: 10px;
  .lgo_header{
    max-width: 270px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
  .taglines_hd{
    display: inline-block;
    vertical-align: middle; 
  }
  .tops_menu_linehd{
    a:focus,
    a:hover{
      img{
        opacity: 0.9;
      }
    }
  }

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15;
}

.prelative,
.prelatife{
  position: relative;
}

.container{
  max-width: 1090px;
}

header.head{
  transition: width 2s, height 4s;
}
header.head.scrollview{
  height: auto;
  background-color: #e6d7ba;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  z-index: 35;
  .lgo_header{
    max-width: 95px;
  }
  .taglines_hd{
    max-width: 250px;
  }
  .tops_menu_linehd{
    a{
      max-width: 30px;
      display: inline-block;
    }
  }
  clear: both;
}

section.backs_home_sect1{
  .inners{
    max-width: 890px;
    // position: relative;
    display: block;
    margin: 0 auto;

    .topsn_lett{
      h3, p{
        display: block;
        margin: 0; padding: 0;
      }
      h3{
        font-size: 25px;
        font-weight: 700;
        color: #fff;
      }
      p{
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
    }
    clear: both;
  }

  .pos_middle_abs_feat{
    position: absolute;
    bottom: -120px;
    left: 0px;
    width: 100%;
  }

  position: relative;
  background:#2a2e36 url('../images/backs_home_1.jpg') repeat-x;
  background-position: bottom center;
  width: 100%;
  min-height: 675px;
  height: auto;
  clear: both;
  .content-texts{
    h4,
    p{
      color: #fff;
    }
    color: #fff;
  }
}

section.back_home_sect2{
  background-color: #181c25;
  min-height: 400px; height: auto;
  width: 100%;
  .inners{

    clear: both;
  }
  clear: both;
}

.lists_sect2_home{
  .items{
    .picture{
      img{}
    }
    .descriptions{
      display: flex;
      align-items: center;
      justify-content: center;
      .texts{
        padding: 4rem;
        h5, h2, p{
          display: block;
          margin: 0; padding: 0;
        }
        h5{
          font-size: 24px;
          font-weight: 300;
          color: #313131;
          margin-bottom: 0.3rem;
        }
        h2{
          font-size: 47px;
          font-weight: 300;
          color: #313131;
          margin-bottom: 0.5rem;
        }
        p{
          font-size: 16px;
          font-weight: 300;
          color: #313131;
          margin-bottom: 1rem;
        }
      }
      height: 100%;
    }
    .back-gold{
      background-color: #f6d8a6;
    }
    .back-grey{
      background-color: #aab3ab;
    }

    clear: both;
  }
}

a.btn.btn_customs_default{
  
  display: block;
  background-color: #313131;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  max-width: 170px;

}

section.bottoms_home_block_pop{
  
  background:#fff url('../images/back_home_sects_3_full.jpg') no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  min-height: 400px; height: auto;
  
  .picts_onleft{
    position: absolute;
    left: -230px;
    top: 35px;
    img{
      max-width: 430px;
    }
  }
  .picts_onright{
    position: absolute;
    right: -230px;
    top: 35px;
    img{
      max-width: 430px;
    }
  }

  .inners{
    display: block;
    margin: 0 auto;
    max-width: 650px;
    p{
      font-size: 20px;
      font-weight: 300;
      color: #313131;
      margin-bottom: 0.2rem;
    }
    h4{
      font-size: 29px;
      font-weight: 600;
      color: #313131; 
      margin-bottom: 0.3rem;
    }
    text-align: center;
    clear: both;
  }
  clear: both;
}

footer.foot{
  .inners_text{
    p{
      font-size: 13px;
      font-weight: 300;
      color: #313131;
    }

    .t-copyrights{
      p{
        font-size: 12px;
        font-weight: 300;
        color: #313131;
        a{
          color: #313131;
          text-decoration: none;
        }
      }
    }

    .blocks_socmed_ft{
      span{
        font-size: 13px;
        font-weight: 700;
        color: #313131;   
        margin: 0;
        a{
          text-decoration: none;
          font-weight: 700;
          color: #313131;   
        }
      }
      p{
          font-size: 12px;
          font-weight: 500;
          color: #313131;
        a{
          color: #313131;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }

    clear: both;
  }
  clear: both;
}

@import 'subpage.less';

// gilang
@import 'media_mob.less';

// dapid
@import 'media_mob_dapid.less';
