header.head.insides-head{
	background: url('../images/back-head-inside.png') no-repeat;
	background-size: cover;
	min-height: 209px; height: auto;
	clear: both;
	z-index: 3;
}


.outer-blok-black-menuresponss-hides{
//   display: none;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7000;
  background: #F5D4A3;
  // background-size: cover;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .prelatife.container{
      
  }
  .blocksn_logo-centers{
      img{
          position: relative;
          left: 20px;
      }
  }

  .blocks-info-menubtm{
      max-width: 600px;
      display: block;
      margin: 0 auto;
      padding-top: 1.2em;
      span{
          font-size: 14px;
          font-weight: 400;
          color: #242021;
          letter-spacing: 3px;
          text-transform: uppercase;
          display: block;
          text-align: center;
      }
      i.fa,
      i.far,
      i.fab{
          font-size: 25px;
          color: #242021;
          text-align: center;
          display: block;
      }
      p{
          padding-top: 0.5rem;
          font-size: 15px; font-weight: 400; color: #242021; text-align: center; line-height: 1.7;
          a{
              font-size: 15px; font-weight: 400; color: #242021; text-decoration: none;
          }
      }
  }
}
.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 0.15em 0px; position: relative; }
.menu-sheader-datals ul li a{ font-size: 16px; letter-spacing: 0px; text-transform: uppercase; font-weight: 500; color: #242021; }
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
  color: #151414; text-decoration: none;
}
.hidesmenu-frightd a img{
  opacity: 0.8;
}

.ft_top_right{
  p,
  span{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    padding-right: 1rem;
  }
  p{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    a{
    text-decoration: none;
    color: #fff;
    }
  }

  clear: both;
}

.content-texts{
	font-size: 16px;
	font-weight: 300;
	color: #2a2e36;

	h1, h2, h3, h4, h5, p{
		display: block;
		margin: 0; padding: 0;
		line-height: 1;
		margin-bottom: 1.4rem;
	}

	h2{
		font-size: 42px;
		line-height: 1.1;
		font-weight: 700;
		color: #2a2e36;
		text-shadow: 4px 4px 5px rgba(150, 150, 150, 0.21);
	}
	h3{
		font-size: 34px;
		font-weight: 300;
		color: #2a2e36;
	}
	h4{
		font-size: 20px;
		font-weight: 700;
		color: #2a2e36;
		line-height: 1.2;
	}

	h5{
		font-size: 24px;
		font-weight: 300;
		color: #2a2e36;
		line-height: 1.3;
	}
	
	p{
		font-size: 16px;
		font-weight: 300;
		color: #2a2e36;
		line-height: 1.5;
	}
}

.outer_wrapper_inside{

	section.about-snt-1{
		width: 100%;
		min-height: 430px; height: auto;
		background-color: #fff;
		.tops_page_title{
			h1{
				position: relative;
				font-size: 24px;
				font-weight: 700;
				color: #201d1e;
				text-transform: uppercase;
				text-shadow: 4px 4px 5px rgba(150, 150, 150, 0.21);
			}
			background: url('../images/backs_ls_inner_toppages.png') no-repeat;
			width: 301px;
			height: 94px;

			text-align: center;
			position: relative;
			margin: -50px auto 0;
			padding: 1.6rem 1.5rem;
			z-index: 7;
		}
		clear: both;
	}

	clear: both;
}

section.about-snt-2{
	background: #191c25 url('../images/backs_grey-black-about.jpg') repeat-x;
	width: 100%;
	min-height: 912px; height: auto;


	.lists_sub_icon_natural{
		.items{
			.picts.icon{
				img{}
				margin-bottom: 1.5rem;
			}
			.desc_info{
				background: url('../images/back-gradations-about.png') no-repeat;
				width: 273px;
				height: 86px;
				padding: 1.2rem 1rem;
				span{
					font-size: 16px;
					font-weight: 500;
					color: #2a2e36;
					display: block;
					line-height: 1.25;
				}
				clear: both;
			}
			clear: both;
		}
		clear: both;
	}

	.box-mx_middles.mobiles,
	.box_mx_middles.about_ns2{
		background: url('../images/banner-about-inn2.png') no-repeat;
		width: 898px; height: 349px;
		position: relative;
		.ins_text{
			position: absolute;
			width: 50%;
			height: auto;
			right: 0px; top: 0px;
			padding-top: 5.5rem;

			h5{
				font-size: 23px;
				font-weight: 700; color: #ffffff;
			}
			ul{
				margin: 0.85rem 0 0.65rem;
				li{}
			}
			p{
				font-size: 17px;
				font-weight: 500;
				text-transform: uppercase; 
				color: #ffffff;
			}
		}
		z-index: 7;
	}
	.box-mx_middles.mobiles{
		width: 100%;
		height: auto;
		background: none; background-color: transparent;

		.ins_text{
			margin-top: 1.7rem;
			width: 100%;
			top: inherit;
			bottom: inherit;
			position: relative;
			padding-top: inherit;
			background-color: #363d4c;
			padding:1.7rem 1rem;
			
			text-align: center;
			
			h5{
				font-size: 18px;
			}
			p{
				font-size: 13px;
			}

		}
		clear: both;
	}
	clear: both;
}

.lines-grey{
	height: 1px;
	background-color: #ccc;
}

.box_inlins_form_location{
	form{
		align-items: center;
  		justify-content: center;
  		label{
  			font-size: 18px;
  			font-weight: 700; color: #313131;
  		}
  		select{
  			border-radius: 0px;
  			border-color: #aeaeae;
  			font-size: 14px;
  			font-weight: 400;
  			color: #313131;
  		}
  		button.btn-primary{
  			border-radius: 0px;
  			outline: none; box-shadow: none;
  			border-color: #313131;
  			background-color: #313131;
  			font-size: 15px;
  			font-weight: 700;
  			padding-left: 1.7rem;
  			padding-right: 1.7rem;
  			color: #fff;
  		}
	}
}

.list_locations{
	.n_list{
		h4{
			font-size: 18px;
			font-weight: 700; color: #313131;
		}
		p{
			font-size: 15px;
			font-weight: 300;
			color: #2a2e36;
			line-height: 1.6;
			b,strong{
				font-weight: 700;
			}
		}

	}
	clear: both;
}

.contact_call_wa{
	p{
		font-size: 18px;
		font-weight: 700;
		color: #313131;
		line-height: 1.3;
		strong, b{
			font-size: 23px;
			color: #313131;
		}
		a{
			color: #313131;
			text-decoration: none;
		}
	}
}

.address_contact_dn{
	.n_texts{
		span{
			font-size: 24px;
			font-weight: 300;
			color: #2a2e36;
		}
		p{
			font-size: 16px;
			font-weight: 300;
			color: #2a2e36;
			line-height: 1.5;
			a{
				color: #2a2e36;
				text-decoration: none;
			}
		}
		clear: both;
	}
	clear: both;
}

.blocks_traces_desc{
	p{
		font-size: 15px;
		font-weight: 300;
		color: #313131;
	}

	.nlist_origin{
		.s_texts{
			p{
				font-size: 15px;
				font-weight: 300;
				color: #313131;
				strong, b{
					color: #201d1e;
					font-size: 24px;
					font-weight: 700;
				}
				margin: 0;
			}
			padding: 1rem 0;
		}

		.col-md-15{
			border-right: 1px solid #313131;
		}
		.col-md-15.lasts{
			border-right: 0;
		}

		clear: both;
	}

	.tx_instagram_big{
		a{
			i.fa{
				color: #313131;
				font-size: 75px;
			}
			font-size: 28px;
			font-weight: 700;
			color: #313131;
		}
	}
	clear: both;
}

.lines_cream_footer{
	background-color: #eadcc0;
	height: 13px;
	width: 100%;

	position: relative;
	margin-bottom: 0.5rem;
}

.clear{
	clear: both;
}

.inners_outer_section.snap_page{
	background: url('../images/backs_con_snap.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	background-position: center;
}


.mw845{
	max-width: 845px;
}